[Unit]
Description=TTDN Node.js Service
After=network.target

[Service]
WorkingDirectory=/path/to/source/folder
ExecStart=/path/to/node trigger sync
Restart=always
User=tungpt
Group=tungpt
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
